TELEGRAM_BOT_TOKEN=PASTE_TOKEN_HERE
OWNER_ID=123456789
APP_URL=https://asdsdsdsdsdsd/
AUTHORIZED_CHATS=-100123456789,-100987654321

# Dev/test overrides (optional)
DISABLE_OWNER=0
DEV_FORCE_ROLE_USER_ID=0
DEV_FORCE_ROLE=
DEV_FORCE_ROLE_USERNAME=
